$font-titulos:'Roboto', sans-serif;

$fondo-desliza:polygon(0 8%, 100% 0, 100% 50%, 100% 91%, 0 100%, 0% 50%);

$size-h1:40px;

$size-h2:30px;

$size-h3:25px;

$size-p:20px;

$color-p:#757575;

$color-btn:#52b788;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);